Repository 0xBigBoss/vscode-ghostty: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, biome, jscpd

typecheck:
  run: npm run typecheck

biome:
  run: npx biome check --no-errors-on-unmatched {staged_files}

jscpd:
  run: npm run jscpd

fix: update localResourceRoots to use scoped package path
  src/panel-view-provider.ts
  src/webview-provider.ts
Due: typecheck, biome

0.1.1
  package-lock.json
  package.json
Due: biome

docs: fix publisher ID in README
  README.md
Due: none

0.1.3
  package-lock.json
  package.json
Due: biome

feat: add bracketed paste mode support
  .claude/codex-review.local.md
  BACKLOG.md
  src/webview/main.ts
  src/webview/panel-main.ts
Due: typecheck, biome, jscpd

fix: respect theme-scoped color customizations
  src/terminal-manager.ts
Due: typecheck, biome

Path conditions:
  typecheck: any of: *.{ts,tsx}
  biome: any of: *.{ts,tsx,js,jsx,json}
  jscpd: any of: src/**/*.{ts,tsx}
